body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #FFC312;
    padding: 10px;
}

.links {
    overflow: hidden;
}

.links p {
    float: left;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
}

.main {
    width: 100%;
    padding: 10px;
}

footer {
    padding: 10px;
    background: #000;
    color: white;
}
