body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #FFC312;
    padding: 10px;
}

.center{
    text-align: center;
}

.center-align{
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.card {
    padding: 100px;
    height: 200px;
    width: 550px;

    margin: auto;
    text-align: center;
}

.card .links img {
    width: 400px;
}

.card p {
    margin-top: 0;

}

.links-display div {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.links p {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-weight: 700;
    line-height: 200px;
    transition: 0s;
}

.links p:hover {
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0s;
}



.links.submit{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRFoLEHOLNj1oIdztWBS1mIDpSLZoGnPgr0GDwKjip6VDC4xAUu&usqp=CAU");
}

.iframe{
    display: block;
    margin: 0 auto;
}

.line-color{
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

.words{
    text-align: center;
    font-size: 25px;
}

a{
    background-color: #FFC312;
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: #f0932b;
    color: black;
    text-decoration: none;
}

a:visited{
    background-color: #FFC312;
    color: black;
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 30px;
    background-color: white;
    bottom: 0;
}