body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #FFC312;
    padding: 10px;
}

.center{
    text-align: center;
}

.center-align{
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.paragraph {
    text-align: center;
    padding-left: 100px;
    padding-right:100px;
}

.iframe{
    display: block;
    margin: 0 auto;
}

.activity{
    text-align: center;
}

.line-color{
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

.coloring{
    background-color: #ffc312;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.coloring:hover{
    background-color: #f0932b;
    transition:0.3s;
}

.signup{
    text-align: center;
}


.words{
    text-align: center;
    font-size: 25px;
}


a{
    background-color: #FFC312;
    color: black;
    text-decoration: none;
}

a:hover{
    background-color: #f0932b;
    color: black;
    text-decoration: none;
}

a:visited{
    background-color: #FFC312;
    color: black;
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 30px;
    background-color: white;
    bottom: 0;
}