body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #FFC312;
    padding: 10px;
}

.center{
    text-align: center;
}

.iframe{
    display: block;
    margin: 0 auto;
}