body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #FFC312;
    padding: 10px;
}

.center{
    text-align: center;
}

.iframe{
    display: block;
    margin: 0 auto;
}

.line-color{
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

.center-align{
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

a{
    background-color: #FFC312;
    color: black;
    text-decoration: none;
}

a:visited{
    background-color: #FFC312;
    color: black;
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 30px;
    background-color: white;
    bottom: 0;
}